## Members Ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.MEMBERS (
    member_id VARCHAR, 
    bio VARCHAR, 
    city VARCHAR,
    country VARCHAR,
    hometown VARCHAR,
    joined TIMESTAMP_NTZ,
    lat NUMBER(38, 8),
    link VARCHAR,
    lon NUMBER(38, 8),
    member_name VARCHAR,
    state VARCHAR,
    member_status VARCHAR,
    visited TIMESTAMP_NTZ,
    group_id VARCHAR
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."MEMBERS" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/members.csv' 
    )
FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)

ON_ERROR=ABORT_STATEMENT

## Members Topics ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.MEMBERS_TOPICS (
    topic_id VARCHAR,
    topic_key VARCHAR,
    topic_name VARCHAR,
    member_id VARCHAR 
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."MEMBERS_TOPICS" 
FROM (
    SELECT $1, $2, $3, $4
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/members_topics.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Cities ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.CITIES (
    city VARCHAR,
    city_id VARCHAR,
    country VARCHAR,
    distance NUMBER(38, 3),
    latitude NUMBER(38, 8),
    localized_country_name VARCHAR,
    longitude NUMBER(38, 8),
    member_count NUMBER(38, 0),
    ranking NUMBER(38, 0),
    state VARCHAR, 
    zip NUMBER(38, 0) 
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."CITIES" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/cities.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Categories ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.CATEGORIES (
    category_id VARCHAR,
    category_name VARCHAR,
    shortname VARCHAR,
    sort_name VARCHAR
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."CATEGORIES" 
FROM (
    SELECT $1, $2, $3, $4
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/categories.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Events ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.EVENTS (
    event_id VARCHAR , 
    created TIMESTAMP_NTZ , 
    description VARCHAR , 
    duration NUMBER(38, 0) , 
    event_url VARCHAR , 
    "fee.accepts" VARCHAR , 
    "fee.amount" NUMBER(38, 2) , 
    "fee.currency" VARCHAR , 
    "fee.description" VARCHAR , 
    "fee.label" VARCHAR , 
    "fee.required" NUMBER(38, 0) , 
    "group.created" TIMESTAMP_NTZ , 
    "group.group_lat" NUMBER(38, 8) , 
    "group.group_lon" NUMBER(38, 8) , 
    group_id NUMBER(38, 0) , 
    "group.join_mode" VARCHAR , 
    "group.name" VARCHAR , 
    "group.urlname" VARCHAR , 
    "group.who" VARCHAR , 
    headcount NUMBER(38, 0) , 
    how_to_find_us VARCHAR , 
    maybe_rsvp_count NUMBER(38, 0) , 
    event_name VARCHAR , 
    photo_url VARCHAR , 
    "rating.average" NUMBER(38, 0) ,
    "rating.count" NUMBER(38, 0) , 
    rsvp_limit NUMBER(38, 0) , 
    event_status VARCHAR , 
    event_time TIMESTAMP_NTZ , 
    updated TIMESTAMP_NTZ , 
    utc_offset NUMBER(38, 0) , 
    "venue.address_1" VARCHAR , 
    "venue.address_2" VARCHAR , 
    "venue.city" VARCHAR , 
    "venue.country" VARCHAR , 
    venue_id NUMBER(38, 0) , 
    "venue.lat" NUMBER(38, 8) , 
    "venue.localized_country_name" VARCHAR , 
    "venue.lon" NUMBER(38, 8) , 
    "venue.name" VARCHAR , 
    "venue.phone" NUMBER(38, 0) , 
    "venue.repinned" NUMBER(38, 0) , 
    "venue.state" VARCHAR , 
    "venue.zip" NUMBER(38, 0) , 
    visibility VARCHAR , 
    waitlist_count NUMBER(38, 0) , 
    why VARCHAR , 
    yes_rsvp_count NUMBER(38, 0)
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."EVENTS" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22, 
    $23, $24, $25, $26, $27, $28, $29, $30, $31, $32, $33, $34, $35, $36, $37, $38, $39, $40, $41, $42, $43, 
    $44, $45, $46, $47, $48
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/events.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Groups ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.GROUPS (
    group_id NUMBER(38, 0) , 
    category_id NUMBER(38, 0) , 
    "category.name" VARCHAR , 
    "category.shortname" VARCHAR , 
    city_id NUMBER(38, 0) , 
    city VARCHAR , 
    country VARCHAR , 
    created TIMESTAMP_NTZ , 
    description VARCHAR , 
    "group_photo.base_url" VARCHAR ,
    "group_photo.highres_link" VARCHAR , 
    "group_photo.photo_id" NUMBER(38, 0) , 
    "group_photo.photo_link" VARCHAR , 
    "group_photo.thumb_link" VARCHAR , 
    "group_photo.type" VARCHAR , 
    join_mode VARCHAR , 
    lat NUMBER(38, 8) , 
    link VARCHAR , 
    lon NUMBER(38, 8) , 
    members NUMBER(38, 0) , 
    group_name VARCHAR , 
    "organizer.member_id" NUMBER(38, 0) , 
    "organizer.name" VARCHAR , 
    "organizer.photo.base_url" VARCHAR ,
    "organizer.photo.highres_link" VARCHAR , 
    "organizer.photo.photo_id" NUMBER(38, 0) , 
    "organizer.photo.photo_link" VARCHAR , 
    "organizer.photo.thumb_link" VARCHAR , 
    "organizer.photo.type" VARCHAR ,
    rating NUMBER(38, 2) , 
    state VARCHAR , 
    timezone VARCHAR , 
    urlname VARCHAR , 
    utc_offset NUMBER(38, 0) , 
    visibility VARCHAR , 
    who VARCHAR
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."GROUPS" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14, $15, $16, $17, $18, $19, $20, $21, $22, 
    $23, $24, $25, $26, $27, $28, $29, $30, $31, $32, $33, $34, $35, $36
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/groups.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Groups Topics ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.GROUPS_TOPICS (
    topic_id NUMBER(38, 0) , 
    topic_key VARCHAR , 
    topic_name VARCHAR , 
    group_id NUMBER(38, 0)
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."GROUPS_TOPICS" 
FROM (
    SELECT $1, $2, $3, $4
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/groups_topics.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Venues ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.VENUES (
    venue_id NUMBER(38, 0) , 
    address_1 VARCHAR , 
    city VARCHAR , 
    country VARCHAR , 
    distance NUMBER(38, 0) ,
    lat NUMBER(38, 8) , 
    localized_country_name VARCHAR ,
    lon NUMBER(38, 8) , 
    venue_name VARCHAR , 
    rating NUMBER(38, 2) , 
    rating_count NUMBER(38, 2) , 
    state VARCHAR , zip NUMBER(38, 0) ,
    normalised_rating NUMBER(38, 2)
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."VENUES" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12, $13, $14
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/venues.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT

## Topics ingest

In [ ]:
CREATE OR REPLACE TABLE DATA_BRZ.TOPICS (
    topic_id NUMBER(38, 0) , 
    description VARCHAR , 
    link VARCHAR , 
    members NUMBER(38, 0) , 
    topic_name VARCHAR ,
    urlkey VARCHAR , 
    main_topic_id NUMBER(38, 0)
); 

COPY INTO "MEETUP_DB"."DATA_BRZ"."TOPICS" 
FROM (
    SELECT $1, $2, $3, $4, $5, $6, $7
	FROM '@"MEETUP_DB"."DATA_BRZ"."GCS_EVENTS_RAPPIPAY"/topics.csv' 
    ) 

FILE_FORMAT = (
  TYPE=CSV
  SKIP_HEADER=1
  FIELD_DELIMITER=','
  TRIM_SPACE=TRUE
  FIELD_OPTIONALLY_ENCLOSED_BY='"'
  REPLACE_INVALID_CHARACTERS=TRUE
  DATE_FORMAT=AUTO
  TIME_FORMAT=AUTO
  TIMESTAMP_FORMAT=AUTO
)
ON_ERROR=ABORT_STATEMENT