In [ ]:
CREATE TABLE IF NOT EXISTS DATA_SLV.DIM_GROUP_PHOTO (
    id_photo NUMBER(38, 0),
    photo_link VARCHAR,
    thumb_link VARCHAR,
    type VARCHAR,
    highres_link VARCHAR,
    base_url VARCHAR
);

MERGE INTO DATA_SLV.DIM_GROUP_PHOTO AS d
USING (
  SELECT DISTINCT
    TRY_TO_NUMBER("group_photo.photo_id")                  AS id_photo,
    NULLIF(TRIM("group_photo.photo_link"),      '')        AS photo_link,
    NULLIF(TRIM("group_photo.thumb_link"),      '')        AS thumb_link,
    NULLIF(TRIM("group_photo.type"),            '')        AS type,
    NULLIF(TRIM("group_photo.highres_link"),    '')        AS highres_link,
    NULLIF(TRIM("group_photo.base_url"),        '')        AS base_url
  FROM MEETUP_DB.DATA_BRZ.GROUPS
  WHERE "group_photo.photo_id" IS NOT NULL
) AS s
ON d.id_photo = s.id_photo

WHEN MATCHED THEN UPDATE SET
  d.photo_link   = s.photo_link,
  d.thumb_link   = s.thumb_link,
  d.type         = s.type,
  d.highres_link = s.highres_link,
  d.base_url     = s.base_url

WHEN NOT MATCHED THEN INSERT (
  id_photo, photo_link, thumb_link, type, highres_link, base_url
) VALUES (
  s.id_photo, s.photo_link, s.thumb_link, s.type, s.highres_link, s.base_url
);