In [ ]:
CREATE TABLE IF NOT EXISTS DATA_SLV.DIM_GROUPS_TOPICS (
    TOPIC_ID VARCHAR,
    GROUP_ID VARCHAR,
    TOPIC_KEY VARCHAR
);

MERGE INTO DATA_SLV.DIM_GROUPS_TOPICS AS d
USING (
  SELECT DISTINCT
    NULLIF(TRIM(TO_VARCHAR(gt.topic_id)), '') AS topic_id,
    NULLIF(TRIM(TO_VARCHAR(gt.group_id)), '') AS group_id,
    NULLIF(TRIM(gt.topic_key), '')            AS topic_key
  FROM MEETUP_DB.DATA_BRZ.GROUPS_TOPICS gt
  WHERE gt.topic_id IS NOT NULL
    AND gt.group_id IS NOT NULL
) AS s
ON  d.GROUP_ID = s.group_id
AND d.TOPIC_ID = s.topic_id

WHEN MATCHED THEN UPDATE SET
  d.TOPIC_KEY = s.topic_key

WHEN NOT MATCHED THEN INSERT (TOPIC_ID, GROUP_ID, TOPIC_KEY)
VALUES (s.topic_id, s.group_id, s.topic_key);