In [ ]:
CREATE TABLE IF NOT EXISTS DATA_SLV.DIM_CATEGORIES (
    id_category VARCHAR,
    name_category VARCHAR,
    name_short VARCHAR,
    name_sort VARCHAR
);

MERGE INTO DATA_SLV.DIM_CATEGORIES AS d
USING (
  SELECT DISTINCT
    TO_VARCHAR(category_id)        AS id_category,
    TRIM(category_name)            AS name_category,
    TRIM(shortname)                AS name_short,
    TRIM(sort_name)                AS name_sort
  FROM MEETUP_DB.DATA_BRZ.CATEGORIES
) AS s
ON d.id_category = s.id_category
WHEN MATCHED THEN UPDATE SET
  d.name_category = s.name_category,
  d.name_short    = s.name_short,
  d.name_sort     = s.name_sort
WHEN NOT MATCHED THEN INSERT (id_category, name_category, name_short, name_sort)
VALUES (s.id_category, s.name_category, s.name_short, s.name_sort);